// BG
$bg-primary-color: #eeeeee;
$bg-secondary-color: #dde0e2;
$bg-tertiary-color: #d2d8dd;
$bg-header-color: 220, 223, 225;
$bg-disabled-color: #e7e9ed;
$bg-inverted-color: #22263b;
$bg-accent-overlay-color: #818bb5;
$bg-accent-color: #d7e0f3;
$bg-pressed-color: #22263b0d;
$bg-overlay-primary-color: #454a6136;
$bg-overlay-secondary-color: #94a1abdc;
$bg-action-hover-color: #828dca;

// BG STATUS
$bg-success-color: #d0e6d2;
$bg-error-color: #ebd5d9;

// FG
$fg-primary-color: #22263b;
$fg-secondary-color: #22263bcc;
$fg-tertiary-color: #22263b99;
$fg-muted-color: #22263b66;
$fg-accent-color: #344079;
$fg-action-color: #424c86;

// Border
$border-primary-color: #22263b54;
$border-secondary-color: #22263b1a;
$border-accent-color: #bbcef8;
$border-disabled-color: #22263b1a;
$border-button-secondary-color: #34407933;
