:root {
  font-family: 'Rubik', 'Noto Sans SC', sans-serif;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  font-size: 17px;

  @include mobile {
    font-size: 15px;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--bg-primary-color);
  color: var(--fg-primary-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
