@use './light/theme.scss' as light;
@use './dark/theme.scss' as dark;
@use './rainy/theme.scss' as rainy;
@use './shared/theme.scss' as shared;

$themes: (
  light: light.$theme,
  dark: dark.$theme,
  rainy: rainy.$theme,
);
